
@font-face {
    font-family: 'CSChatThai';
    src: url("../fonts/CSChatThai.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSans';
    src: url("../fonts/ThaiSansNeue-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

body {
    background-color: #f9f9f9;
    margin:0;
    padding-top: 70px; 
}
p,
h1,
h2,
h3,
span {
    font-family: 'CSChatThai';
    font-weight: normal;
    margin: 0;
    color:#777777;
    word-wrap: break-word;
}
th{
    font-weight: 600;
    text-align: center;
}
td{
    cursor:pointer;
}
tr:hover{
    background: #f9f9f9;
}
.row-header:hover{
    background: white ; 
}
strong{
    color:#4BAEB6;
}
table{
     font-family: 'Raleway', sans-serif;
     text-align: center;
     margin-bottom:0 !important;
}
.font , .font>.data{
    font-family: 'Raleway', sans-serif;
}
.margin-0{
    margin:0;
}
.margin-top-1{
    margin-top:1em;
}

.margin-top-2{
    margin-top:2em;
}
.monitor-panel{
    overflow: auto;
}

.panel{
    border-radius: 0px; 
}
.navstyle{
    background: white;
}
.navstyle-colorBar{
    width:100%;
    height: 5px;
    background: #4BAEB6;  /* fallback for old browsers */
}  
.navstyle-title {
    font-family: 'ThaiSans';
    color: #777777;
    cursor: pointer;
    display:inline-block; 

}
.navstyle-icon{
    font-size:30px !important;
    margin-top:5px;
    color:#777777 !important;
}


/*Circle */

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  animation: out 1.5s infinite ease-out;
  margin: 5px auto;
}
.circle-online{
    background-color: #2ecc71 ;  
    animation: animate-online 1.5s infinite ease-out; 
}
.circle-warning{
    background-color: #f1c40f ;
    animation: animate-warning 1.5s infinite ease-out;   
}
.circle-offline{
    background-color: #e74c3c;
    animation: animate-offline 1.5s infinite ease-out;
}
.circle-unknown{
    background-color:#7f8c8d;
    animation: animate-unknown 1.5s infinite ease-out;
}
@keyframes animate-online {
  0% {box-shadow: 0px 0px 0px 0px rgba(26, 188, 156, 1);} 
  100% {box-shadow: 0px 0px 0px 5px rgba(26, 188, 156, 0.0);}
}
@keyframes animate-warning {
  0% {box-shadow: 0px 0px 0px 0px rgba(241, 196, 15, 1);} 
  100% {box-shadow: 0px 0px 0px 5px rgba(241, 196, 15, 0.0);}
}
@keyframes animate-offline {
  0% {box-shadow: 0px 0px 0px 0px rgba(231, 76, 60, 1);} 
  100% {box-shadow: 0px 0px 0px 5px rgba(231, 76, 60, 0.0);}
}

@keyframes animate-unknown {
  0% {box-shadow: 0px 0px 0px 0px rgba(127, 140, 141, 1);} 
  100% {box-shadow: 0px 0px 0px 5px rgba(127, 140, 141, 0.0);}
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: right; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.tooltip-inner {
      background-color: #4BAEB6; 
      color: #FFFFFF; 
      font-family: 'Raleway', sans-serif;
      padding: 5px;
      font-size: 12px;
  }
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid #4BAEB6;
}

.status, .status>.data{
    font-size:13px;
    margin-top:5px;
}
.status-online, .status-online>.data{
    color: #2ecc71;
}
.status-warning, .status-warning>.data{
    color: #f1c40f;
}
.status-offline, .status-offline>.data{
    color: #e74c3c;
}
.status-unknown, .status-unknown>.data{
    color: #7f8c8d;
}
.card:hover{
    background: #f9f9f9;
    cursor: pointer;
}
.icon-card{
    padding-top: 20px;
    color: #7f8c8d;
}   
.text-card, .text-card>.data{
    color:#4BAEB6;
}
.text-current, .text-current>.data{
    margin-top:40px;
}
.progress{
    margin-top:40px;
    margin-bottom: 0;
    border-radius: 10px;
}
.progress-bar{
    background-color:#4BAEB6; 
    border-radius: 10px;
}
.progress-value{
    position: absolute;
    right: 0;
    left: 0;
    color: black;
    font-size: 14px;
}

.clock{
    font-size: 10px;
    color: #7f8c8d;
    }









/*End Customise*/

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 16px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

.scroll {
    outline: none;
    position: fixed;
    position: fixed;
    right: 8px;
    bottom: 8px;
    margin: 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    background: #F9BF3B;
}

.scroll:hover {
    background: #FDE3A7;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll .fa {
    font-size: 30px;
    margin-top: -8px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: bold;
}